body {
  font-family: 'Nunito', sans-serif;
  background-color: #ff80b0 !important;
}

.container-todo {
  max-width: 60%!important;
}

.title {
  padding: 30px;
  text-align: center;
  color: #fdd365;
}

.navbar {
  width: 100%;
  background-color: #9399ff;
  overflow: auto;
  color: #fff;
}

.filter-button {
  float: left;
  padding: 10px;
  background-color: #9399ff;
  font-size: 17px;
  width: 33%; /* 3 links of equal widths */
  text-align: center;
}

.filter-button:hover {
  background-color: #fdd365;
  color: #222831;
}

.filter-button:focus {
  background-color: #fdd365;
  color: #222831;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}

.content-tasks {
  background-color: #F2F2F2;
  position: relative;
  margin-left: 0 !important;
  margin-right: 0 !important;
  border-bottom: 1px solid #F8C600;
}

.task-input {
  font-family: 'Handlee', cursive;
  font-size: 18px;
  margin: auto 0;
}

.delete {
  position: absolute;
	right: 0;
  font-size: 14px;
  margin-top: 3px;
  margin-right: 3px;
  background-color: #F8C600;
  border-radius: 20%;
}

.delete:hover {
  background-color: #DA4167;
}

input[type=checkbox] {
    position: relative;
    margin: 10px;
}

input[type=checkbox]:checked + .task-input{
  text-decoration: line-through;
}
